#!/usr/bin/env bash

{{- if eq .work_computer true }}
# Create empty ~/.gitconfig-work if it doesn't exist
if [ ! -f ~/.gitconfig-work ]; then
    touch ~/.gitconfig-work
    echo "Created empty ~/.gitconfig-work file"
fi
{{ end }}
