#!/bin/bash

# Arrays for package installation
brew_packages=(
    {{ range $package := .packages.common.packages }}
    "{{ $package }}"
    {{ end -}}
    {{ range $package := .packages.brew.packages }}
    "{{ $package }}"
    {{ end -}}
)

brew_cask_packages=(
    {{ range $package := .packages.brew_cask.packages }}
    "{{ $package }}"
    {{ end }}
)

yay_packages=(
    {{ range $package := .packages.common.packages }}
    "{{ $package }}"
    {{ end -}}
    {{ range $package := .packages.yay.packages }}
    "{{ $package }}"
    {{ end }}
)

{{ if eq .chezmoi.os "linux" -}}
    echo "Installing packages with yay..."

    for package in ${yay_packages[@]}; do
        yay -S --needed --noconfirm ${package}
    done

    echo "Yay packages installed!"
{{ else if eq .chezmoi.os "darwin" -}}
    BREW_DIR="$(brew --prefix)/bin/"
    currently_installed_formulae=($(brew list --formula -1))
    currently_installed_casks=($(brew list --cask -1))

    echo "Installing packages with brew..."

    for formula in ${brew_packages[@]}; do
      if [[ ! " ${currently_installed_formulae[@]} " =~ " ${formula} " ]]; then
        if [[ ! -e "${BREW_DIR}/${formula}" ]]; then
            brew install -q --formula ${formula}
        fi
      fi
    done

    echo "Installing packages with brew cask..."

    for cask in ${brew_cask_packages[@]}; do
      if [[ ! " ${currently_installed_casks[@]} " =~ " ${cask} " ]]; then
          brew install -q --cask ${cask}
      fi
    done

    echo "Homebrew packages installed!"
{{ end -}}
