#!/bin/bash

# Corrects the repo remote URL to the private SSH one after bootstrapping from the public URL

set -eufo pipefail

# This is the ideal repo URL rather than the public HTTPS one
sshUrl="git@github.com:{{ .githubUsername }}/dotfiles.git"
currentUrl="$(git config --get remote.origin.url 2>/dev/null || echo "")"

# If the repo URL isn't the SSH-based one (like HTTPS) then update it
if [ "$currentUrl" != "$sshUrl" ]; then
  git -C "${CHEZMOI_WORKING_TREE}" remote set-url origin "$sshUrl"
fi
