{{- $work_computer := promptBoolOnce . "work_computer" "Is this a work computer? (true/false)" -}}
{{- $dev_computer := promptBoolOnce . "dev_computer" "Is this a development computer? (true/false)" -}}

[data]
work_computer = {{ $work_computer }}
dev_computer = {{ $dev_computer }}
githubUsername = "dakotahp"
xdgCacheDir = "{{ .chezmoi.homeDir }}/.cache"
xdgConfigDir = "{{ .chezmoi.homeDir }}/.config"
xdgDataDir = "{{ .chezmoi.homeDir }}/.local/share"
xdgStateDir = "{{ .chezmoi.homeDir }}/.local/state"
