# Shell
alias cs='clear'

## cd shortcuts
alias hm='cd ~'
alias up1='cd ../'
alias up2='cd ../../'
alias up3='cd ../../../'
alias up4='cd ../../../../'

## MacOS
alias singleapp="default write com.apple.dock single-app -bool true; killall dock"
alias multiapp="default write com.apple.dock single-app -bool false; killall dock"

# ls to eza
alias ls="eza"

# cat to bat
alias cat="bat"

# Rails and Dev Tools
alias respec="rerun -cx rspec"

# git
alias gi='git status; echo; git branch -a -v'
alias ggrep='git grep -I'
alias gcme='git commit -m'
alias contains='git branch --contains'
alias grecent='git for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"'

alias ld='lazydocker'
alias lg="lazygit"

# Generate random secret for an app secret
alias secret="openssl rand -hex 32"

# Makes it easier to sign into 1Password cli
opsign() {
  who=$(op whoami)

	if [[ $? != 0 ]] then;
		eval $(op signin)
  else
    echo "Already signed into 1Password."
	fi
}

# Cross-platform alias that uses native package manager to update system.
# Reduces cognitive load when switching systems and stops relying on zsh history to make it quicker.
{{- if eq .chezmoi.os "darwin" }}
alias update="brew update && brew upgrade"
{{- else if eq .chezmoi.os "linux" -}}
{{-   if eq .chezmoi.osRelease.id "debian" }}
alias update="sudo apt-get update && sudo apt-get upgrade"
{{-   else if eq .chezmoi.osRelease.id "arch" }}
alias update="sudo pacman -Syu"
{{-  end -}}
{{- end }}

# Include custom aliases
[[ -f ~/.aliases.local ]] && source ~/.aliases.local
