# ======================================
# Begin environment variable definitions
#

# Set neovim as editor
export EDITOR=nvim

# GPG commit signing fix
export GPG_TTY=$(tty)

# Include dotfile bin folder in path
export PATH="$PATH:$HOME/.local/bin"
export PATH="$PATH:$(chezmoi source-path)/bin"

export COMPLETION_WAITING_DOTS="true"

# Load environment variables from dotfiles which uses 1password
source ~/.env

#
# End environment variable definitions
# ====================================

# Starship prompt
eval "$(starship init zsh)"

# Zoxide cd helper
eval "$(zoxide init zsh)"

unsetopt correct_all
setopt inc_append_history
unsetopt share_history

# Set higher default limit for open file descriptors.
# Helps with (Node.js) development.
ulimit -S -n 2048

# =============
# Begin imports
#

# Load XDG configuration to force a bunch of apps to use
# UNIX standard ~/.config, ~/.local, etc.
# Automatically import *.zsh or *.sh
configFileLocations=(
    "{{ .xdgConfigDir }}/zshell_components"
)

for configFileLocation in "${configFileLocations[@]}"; do
    if [ -d "${configFileLocation}" ]; then
        while read -r configFile; do
            source "${configFile}"
        done < <(find "${configFileLocation}" \
            -maxdepth 2 \
            -type f \
            -name '*.zsh' \
            -o -name '*.sh' | sort)
    fi
done

unset configFileLocations configFileLocation

# fzf: fuzzy finder install
# https://github.com/junegunn/fzf
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# Import aliases
[ -f ~/.aliases ] && source ~/.aliases

# Include local zsh file
[[ -f ~/.zshrc.local ]] && source ~/.zshrc.local

#
# End imports
# ===========

alias reload="source ${HOME}/.zshrc" # Allow reloading state by loading into current shell
